table{
    margin: auto;
    text-align: center;
    width: 1000px;
    padding: 30px 0;
    font-size: 20px;
}
th{
    background-color: red;
}
tr{
    background-color: grey;
}
tfoot > tr{
    background-color: aquamarine;
}